body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  min-width: 900px;
  max-width: 1200px;
  background: #f5f5f5;
}
.header__container {
  background-image: url(../img/header/надпис.png), url(../img/header/фон.jpg);
  height: 700px;
  background-size: 800px 200px, 1200px 700px;
  background-repeat: no-repeat;
  background-position: 51% 28%, 0% 0%;
}
.header__title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  padding-left: 73px;
}
.cards__container {
  display: flex;
  justify-content: space-evenly;
}
._card {
  background: #231b0c;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: 50% 10%, 50% 80%;
  background-size: 160px 60px, 220px 180px;
}
.card__card-gallery {
  background-image: url(../img/cards/галерея.png),
    url(../img/cards/фото\ галереї.png);
}
.card__card-sport {
  background-image: url(../img/cards/спорт.png),
    url(../img/cards/фото\ спорту.png);
}
.card__card-more {
  background-image: url(../img/cards/більше.png),
    url(../img/cards/фото\ інше.png);
}
.cars-photo {
  background-image: url(../img/фото.png);
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: 87% 87%;
  height: 590px;
}
.footer {
  background-image: url(../img/footer/розваги.png),
    url(../img/footer/ресторани.png), url(../img/footer/магазини.png),
    url(../img/footer/мистецтво.png);
  background-repeat: no-repeat;
  background-position: 34% 16%, 33% 36%, 66% 16%, 64% 37%;
  background-color: #150f02;
  height: 250px;
  margin-top: 20px;
}
.footer__title__container {
  text-align: center;
}
.footer__title-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 128px;
  letter-spacing: 0.15em;
}
.footer__title {
  width: 16%;
  display: inline-block;
  border-bottom: 10px solid #ff6b00;
  margin: 0;
  padding-bottom: 5px;
}
.footer .footer__title h2 {
  margin: 0;
}
.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.link-insta {
  padding-right: 32px;
}
.link-facebook {
  padding-right: 32px;
}
