*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
}
body {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.wrapper {
  margin: 0 auto;
  max-width: 150rem;
  background: linear-gradient(112.23deg, #3e718e 0%, #64969b 100%);
}
.form__container {
  margin: 0 auto;
  padding: 11rem 25rem 18.2rem 25rem;
  max-width: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-leftside {
  min-width: 56.1rem;
  background: url(../img/Stroke\ 5.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.form-rightside {
  min-width: 43.9rem;
  background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
  box-shadow: 0px 0px 10px 9px #4e7577;
}
.header__container {
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem 1.2rem 0rem 0rem;
}
.header-home-link {
  color: #ffffff;
  font-weight: 700;
  padding-right: 2.4rem;
  font-size: 1.6rem;
  line-height: 150%;
}
.header-contact-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;
}
.body-title {
}
.title-text {
  padding: 19.5rem 0rem 0rem 0rem;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  font-size: 4.8rem;
  line-height: 125%;
  opacity: 0.8;
}
.title-sub-text {
  padding-left: 8.6rem;
  padding-bottom: 22.9rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;
  color: #ffffff;
}
.leftside__header {
  padding-left: 3.2rem;
  padding-top: 1.1rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 100%;
  background: linear-gradient(
    93.38deg,
    #496f74 -3.47%,
    #6e9195 35.61%,
    #2d4f61 84.29%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.leftside__title {
  padding-left: 17.2rem;
  padding-top: 6.8rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 180%;
  color: #000000;
}
.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form {
  padding-left: 9.9rem;
}
input {
  border: 1px solid #cccccc;
  box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
  border-radius: 4px;
  width: 35.5rem;
  height: 2.5rem;
}
*::placeholder {
  color: #cccccc;
  font-size: 1.2rem;
  line-height: 133%;
  padding-left: 0.8rem;
}
.first-group {
  font-size: 1.6rem;
  line-height: 150%;
}
.thin-w {
  font-size: 1.2rem;
  color: #a8a8a8;
}
input[type="password"]::placeholder {
  font-size: 0.8rem;
}
input:focus {
}
input[type="password"] {
}
.form-btn {
  background-color: #284a5e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 35.5rem;
  height: 3.4rem;
 font-weight:700;
font-size: 1.6rem;
line-height: 2.4rem;
margin-top: 9.8rem;
}
.alr-a-user
{
    color: #C4C4C4;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
}
.log-link
{
    color: #476D73;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 150%;
}
.flex-cntr
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    padding-right: 13rem;
}