html 
{
  font-size: 10px;
}
body,
h2 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
.wrapper 
{
  width: 100%;
  background-color: #fbe4ff;
}
.header__container 
{
  position: sticky;
  top: 0;
  z-index: 1;
  height: 65px;
  background-color: #243b93;
}
.header-logo-leftside {
}
.header__nav 
{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  padding-top: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 16%;
  line-height: 2.1rem;
}
.nav__item
{
    color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  padding-top: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 16%;
  line-height: 2.1rem;
  text-decoration: none;
}
.nav__item-home {
}
.nav__item-about {
}
.nav__item-booking {
}
.nav__item-contacts {
}
.nav__item-cabinet {
}
.header-img-rightside {
}
.nav__switcher 
{
  display: flex;
  align-items: center;
}

.nav__switcher-text 
{
  padding-left: 0.5rem;
  font-size: 2.8rem;
}
.booking__container 
{
  background-color: #bff0ff;
  padding-top: 1.7rem;
  padding-left: 15%;
}
.booking__title 
{
  font-style: italic;
  font-size: 4.4rem;
  line-height: 5.7rem;
  color: #202846;
  display: inline-block;
  padding-bottom: 1.5rem;
}
.choose-location__container 
{
  background-color: #ffffff;
  width: 70%;
  margin: 0 auto;
  height: 57px;
  position: relative;
}
.choose-location__title 
{
  font-size: 2.8rem;
  line-height: 3.6rem;
  color: rgba(0, 0, 0, 0.61);
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
}
.arrow 
{
  position: absolute;
  width: 3.4rem;
  height: 3.3rem;
  right: 2.2rem;
  top: 1.5rem;
}
.apartments-cards__container 
{
  width: 70%;
  background: linear-gradient(92.95deg, #adcbd5 0%, #00aee6 100%);
  margin: 0 auto;
}
.apartments-cards__container:hover 
{
  box-shadow: 0px 0px 60px 4px #2cbdeb;
}
.apartments-cards__container:hover svg * 
{
  fill: #fff500;
}
.apartments-cards__container:hover .link__text 
{
  background-color: #ef075b;
}

.apartments-card__body1 
{
  margin-top: 3rem;
  display: flex;
  height: 300px;
  position: relative;
}
.img__card 
{
  margin-top: 3.3rem;
  margin-left: 5.2rem;
}
.img-ibg 
{
  margin: 41px -16px 11px 42px;
  display: block;
  width: 33.83%;
  height: 79%;
}
.inner {
}
.inner__title 
{
  font-weight: 700;
  font-style: italic;
  font-size: 3.6rem;
  line-height: 4.7rem;
  color: #353c57;
  border-bottom: 3px solid #ffffff;
  width: 87.6%;
  padding-top: 1.4rem;
  margin-left: 3rem;
}
.inner__sub-title 
{
  background-color: #ffffff;
  color: #202846;
  height: 65%;
  width: 84.94%;
  font-size: 2.2rem;
  line-height: 2.9rem;
  margin-left: 3rem;
  margin-top: 1rem;
  padding-left: 1.6rem;
  padding-top: 1rem;
  overflow: auto;
}
.star 
{
  position: absolute;
  right: 1%;
  top: 3%;
}
.details__link {
}
.link__text 
{
  display: block;
  padding-top: 0.9rem;
  text-align: center;
  width: 20%;
  height: 46px;
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 400;
  border-radius: 30px;
  background-color: #243b93;
  position: absolute;
  right: -28px;
  bottom: 7px;
}
.personal-cabinet__container 
{
  background: linear-gradient(90deg, #ffe601 0%, #55d6ff 100%);
  padding-top: 1.7rem;
  margin-top: 3.9rem;
  max-height: 6.8rem;
}
.personal-cabinet__title 
{
  font-style: italic;
  font-size: 4.4rem;
  line-height: 5.7rem;
  color: #243b93;
  display: inline-block;
  padding-bottom: 1.5rem;
  padding-left: 15%;
}
.personal-cabinet__card 
{
  margin: 0 auto;
  margin-top: 3.6rem;

  width: 70%;
  height: 50rem;
  background: linear-gradient(
    180deg,
    #859eff 0%,
    rgba(105, 255, 210, 0.5) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-evenly;
}
.card__left-side 
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  padding-right: 1rem;
}
.left-side__img 
{
  width: 55%;
  height: 41%;
}
.card__right-side 
{
  overflow: auto;
}
.right-side__name 
{
  font-style: italic;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.7rem;
  color: #353c57;
  border-bottom: 3px solid #ffffff;
  width: 90%;
  padding-top: 4.6rem;
}
.right-side__gender 
{
  padding-top: 3rem;
  font-style: italic;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.7rem;
  color: #353c57;
  border-bottom: 3px solid #ffffff;
  width: 90%;
}
.gender__who 
{
  font-weight: 400;
  font-style: italic;
  font-size: 3.6rem;
  line-height: 4.7rem;
}
.right-side__birthday 
{
  padding-top: 3rem;
  font-style: italic;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.7rem;
  color: #353c57;
  border-bottom: 3px solid #ffffff;
  width: 90%;
}
.right-side__tel 
{
  padding-top: 3rem;
  font-style: italic;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.7rem;
  color: #353c57;
  border-bottom: 3px solid #ffffff;
  width: 90%;
}
.right-side__mail 
{
  padding-top: 3rem;
  font-style: italic;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.7rem;
  color: #353c57;
}
.birhday-day 
{
  font-weight: 400;
  font-style: italic;
  font-size: 3.6rem;
  line-height: 4.7rem;
}
.tel-link 
{
  text-decoration: none;
  color: #353c57;
  font-weight: 400;
  font-style: italic;
  font-size: 3.6rem;
  line-height: 4.7rem;
}
.mail-link 
{
  text-decoration: none;
  color: #353c57;
  font-weight: 400;
  font-style: italic;
  font-size: 3.6rem;
  line-height: 4.7rem;
}
._blue 
{
  background-color: #243b93;
}
._pink 
{
  background-color: #ef075b;
}
.cabinet__link 
{
  text-decoration: none;
  display: block;
  margin-top: 3.5rem;
  padding: 1rem 2rem;

  color: #ffffff;
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 400;
  border-radius: 30px;
}
.exit__btn 
{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3.5rem;
  padding: 1rem 2rem;
  text-align: center;
  width: 10%;
  color: #ffffff;
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 400;
  border-radius: 30px;
  background-color: #243b93;
  text-decoration: none;
}
.contacts__container 
{
  background: linear-gradient(90deg, #54d6ff 0%, #ffe600 100%);
  padding-top: 1.7rem;

  margin-top: 3.9rem;
  max-height: 6.8rem;
}
.contacts__title 
{
  font-style: italic;
  font-size: 4.4rem;
  line-height: 5.7rem;
  color: #243b93;
  display: inline-block;
  padding-bottom: 1.5rem;
  padding-left: 15%;
  flex: 0 1 auto;
}
.contacts-info 
{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}

iframe 
{
  width: 95%;
  height: 120%;
  border-radius: 40px;
  border: 3px solid #243b93;
}
.footer 
{
    margin-top: 6rem;
  height: 65px;
  background-color: #243b93;
  
}
.footer__text
{
    color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  padding-top: 2.3rem;
  padding-left: 15%;
}
.column {
  font-size: 2.2rem;
  line-height: 4.2rem;
  flex: 0 0 auto;
}
.three p
{
    border-top: 1px solid black;
}
.three h3,
p 
{
  margin: 0;
}
.first h3,
p 
{
  margin: 0;
}

.tel 
{
  text-decoration: none;
  border-top: 1px solid black;
  color: #000000;
}
.contacts__mail 
{
  text-decoration: none;
  border-top: 1px solid black;
  color: #000000;
  font-size: 2.2rem;
  line-height: 4.2rem;
}
.second h3,
p 
{
  margin: 0;
}
.second 
{
  margin-right: 10rem;
  font-size: 2.2rem;
  line-height: 4.2rem;
}
.column 
{
  display: flex;
  flex-direction: column;
}
.ifdiv {
  display: flex;
  justify-content: end;
  padding-top: 1.2rem;
  flex: 0 0 auto;
}
.icon {
  text-align: center;
  width: 101px;
  height: 101px;
  background-color: #300c6a63;
  border-radius: 50%;
  font-size: 6rem;
  text-decoration: none;
  position: absolute;
  right: -5%;
  top: 50%;
  color: #FFFFFF;
  
}
