@keyframes img-show-top {
    from {
        transform: translateX(-100vh);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes img-show-bottom {
    from{
        transform: translateX(100);
    }
    to{
        transform: translateX(0);
    }
}

  @keyframes c1 {
    from{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 50%;
    }
    50% {
       top:50%;
    left: 50%;
    }
    75%{
        top: 50%;
        left: 0%;
    }
    to{
        top: 0;
        left: 0;
    }
}
@keyframes c2 {
    from{
    top:0%;
    right:0%;
    }
    25%{
        top: 50%;
        right: 0%;
    }
    50% {
         right:50%;
        top: 50%;
    }
    75%{
        top: 0;
        right: 50%;
    }
    to{
        top:0%;
    right:0%;
    }
}

@keyframes c3 {
    from{
        top: 50%;
        left: 0%;
    }
    25%{
        top: 0;
        left: 0%;
    }
    50%{
        top:0;
        left:50%;
    }
    75%{
        top: 50%;
        left:50%;
    }
    to{
        top: 50%;
        left: 0%; 
    }
}

@keyframes c4 {
    from{
        top: 50%;
        right: 0%;
    }
    25%{
        top: 50%;
        right: 50%;
    }
    50%{
        top: 0%;
        left: 0%;
    }
    75%{
        top: 0%;
        left: 50%; 
    }
    to{
        top: 50%;
        left: 50%;
    }
} 