@import url(./animation.css);

* {
}
:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
a {
  text-decoration: none;
}
._padd {
  padding-top: 3rem;
}
.logo-img
{
  object-fit: cover;
}
header {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

header .logo {
}

header .logo img {
  max-height: 10vh;
}
.nav {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 3.6rem;
}

/*screen 1*/
.screen {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  
}
.box img
{
  width: 100%;
}
.box {
  display: flex;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.flex-4 {
  display: flex;
  flex: 0 0 50%;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.left-one {
  transform: translateX(-100vh);
  animation: img-show-top 2s linear 1 forwards;
  flex: 0 0 20.2%;
}
@media (min-width: 992px) {
  .rignt-one {
    align-self: center;
  }
  .left-one {
    align-self: center;
  }
}

.rignt-one {
  flex: 0 0 20.2%;
  transform: translateX(100vh);
  animation: img-show-bottom 2s linear 1 forwards;
}

.left-two {
  transform: translateX(-100vh);
  animation: img-show-bottom 1s linear 1 forwards;
}

.rignt-two {
  transform: translateX(100vh);
  animation: img-show-bottom 1s linear 1 forwards;
}
.left-two,
.rignt-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 4.2rem;
}

.left-two > div,
.rignt-two > div {
  border-radius: 10px;
}
@media (max-width: 992px) {
  .screen {
    height: 100%;
    overflow: visible;
  }
  .nav a {
    width: 30%;
    font-size: 1.6rem;
  }
  .box {
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 100%;
  }
  .left-one {
    order: -2;
    flex: 0 0 30%;
  }
  .flex-4 {
    flex: 0 0 70%;
  }
  .rignt-one {
    order: -1;
    flex: 0 0 30%;
  }
}
/*screen2*/
.services {
  display: flex;
  padding-top: 5rem;
}
.services .left {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
}
.services .left > div {
  height: 50%;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.services .rignt {
  width: 40%;
}
.bg {
  background: #818181;
  width: 100%;
  max-height: 90vh;
}
.bg-img
{
  width: 100%;
}
.c {
}
p {
  margin: 0;
}
.atext {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}
.c + p {
  text-align: center;
}

.lefi-one .c img {
  width: 90%;
}
.lefi-two .c img {
  width: 90%;
}
.lefi-three .c img {
  width: 90%;
}
.lefi-four .c img {
  width: 90%;
}

.lefi-one {
  top: 0%;
  left: 0%;

  animation: c1 10s linear infinite;
}
.lefi-two {
  top: 0%;
  right: 0%;
  animation: c2 10s linear infinite;
}
.lefi-three {
  top: 50%;
  left: 0%;
  animation: c3 10s linear infinite;
}
.lefi-four {
  top: 50%;
  right: 0%;
  animation: c4 10s linear infinite;
}

/*screen 3*/

.title {
  font-size: 9.6rem;
  text-align: center;
  color:#000000;
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700
}

.cards {
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.cards .card-inner:nth-child(2) {
  width: 20.6%;
}
.cards .card-inner:nth-child(3) {
  width: 21%;
}
.cards .card-inner:nth-child(4) {
  width: 20.8%;
}

.cards:hover > div {
  filter: brightness(0.5);
}

.cards > div:hover {
  filter: none;
}
.card-inner {
  position: relative;
  width: 21.3%;
  border-radius: 40px;
 
}
.card-inner img {
  width: 100%;
  min-height: 100%;
  border-radius: 40px;
}

.name {
  position: absolute;
  background: rgba(163, 83, 10, 0.7);
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  transition: height 1s;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #fffafa;
}

.cards > div:hover .name {
  height: 154px;
}

.flex-container {
  display: flex;
}
.contact-title {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #000000;
  margin-left: 18rem;
  padding-top: 5rem;
  max-width: 798px;
}
.form-container {
  background-color: #e5e5e5;
  margin-left: 16.2rem;
  margin-top: 1.7rem;
  padding-bottom: 3.1rem;
}

::placeholder {
  font-family: "Rosario";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
.flex-form {
  display: flex;
}

iframe {
  margin: 7.2rem 1.5% 0rem 1.5%;
  width: 30%;
  margin-left: 1.5%;
}
input[type="text"] {
  margin-top: 3.5rem;
  margin-left: 2.9rem;
  width: 40.5%;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: 3.5rem;
}
input[type="email"] {
  margin-left: 4%;
  padding-left: 4rem;
  padding-bottom: 1rem;
  padding-top: 2.5rem;
  margin-top: 3.5rem;
  width: 48.2%;
  box-sizing: border-box;
  font-size: 3.5rem;
}

input#Message {
  width: 92.5%;
  padding-left: 1rem;
  padding-top: 3rem;
  padding-bottom: 20rem;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  padding-top: 9rem;
  gap: 3rem;
}
.first__column {
  display: flex;
  flex-direction: column;
}
.first__column a {
  font-family: "Rosario", sans-serif;
  color: #000000;
  font-style: italic;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  text-align: center;
}
.alt-text {
  font-family: "Rosario", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
  font-style: normal;
}
.second__column-text {
  font-family: "Rosario", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.3rem;
}
.second__column-sub-text {
  font-family: "Rosario", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  font-style: italic;
}
.second__column-sub-text:nth-last-child(2) {
  margin-top: 3rem;
}
.third__column-links1
{
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.third__column-links {
  display: flex;
  flex-direction: column;
  align-self: center;
  
}
h3 {
  padding: 0;
  margin: 0;
}
.third__column-text {
  font-family: "Rosario", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
  font-style: normal;
}
.footer-link {
  font-family: "Rosario", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.6rem;
  font-style: italic;
  padding-left: 3rem;
  display:inline-block ;
  

}
.third__column-links img
{
 
}
.third__column-links .link:nth-last-child(1) {
 
}
.third__column-links .link:nth-last-child(2) {
 
}
.footer-link1{
   padding-top: 2rem;
}
.third__flex-container
{
  display: flex;
}
.third__column a {
  color: #000000;
  align-self: center;
}
._over-visible
{
  overflow: visible;
}
/* media */
@media (max-width: 992px) {
  .screen {
    height: 100%;
    overflow: visible;
  }
  .nav a {
    width: 30%;
    font-size: 1.6rem;
  }
  .box {
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 100%;
    height: 100%;
    padding-top: 6rem;
  }
  .left-one {
    order: -2;
    flex: 0 0 30%;
    animation-duration: 1s;
  }
  .flex-4 {
    flex: 0 0 70%;
  }
  .rignt-one {
    order: -1;
    flex: 0 0 30%;
    animation-duration: 1s;
  }
  .services {
    flex-direction: column-reverse;

    align-items: center;
  }
  .atext {
    font-size: 3rem;
  }
  .title {
    font-size: 5.5rem;
  }
  .left {
    height: 757px;
  }
  .bg
  {
    align-items: center;
    overflow: hidden;
  }
  .cards {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .card-inner {
    flex: 0 0 35%;
  }
  .flex-container
  {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-title
  {
    font-size: 5.5rem;
    margin-left: 0;
  }
  .form-container
  {
    margin: 0 auto;
    width: 90%;
  }
  .footer__container
  {
    flex-wrap: wrap;
  }
iframe
{
  width: 60%;
    height: 30vh;
}
}

@media (max-width: 768px) {
  .left-one {
    flex: 0 0 40%;
  }
  .flex-4 {
    flex-direction: column;
  }
  .rignt-one {
    order: 1;
    flex: 0 0 40%;
  }
  .box {
    height: fit-content;
  }
  .bg {
    display: none;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
  .title {
    padding-top: 0rem;
    text-align: center;
  }
  ._padd {
    padding-top: 0;
  }
  .flex-container
  {
    flex-direction: column-reverse;
    align-items: center;
  }
  .name
  {
font-size: 3.2rem;

  }
  .cards > div:hover .name
  {
    height: 75px;
  }
}



.container-fluid
{
  padding-left: 0;
  height: 10vh;
}
.navbar{
    background-color:#000000;
    color: white;
    height: auto;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar>.container-fluid
{
  flex-wrap: initial;
}
header img{
    height: 10vh;
    width: 100%;
}

.navbar-nav1{
    flex-direction: row;
    margin-right: 0;
    flex-wrap: wrap;
}

.btn{
    color: white;
}

.btn:hover{
    color: white;
    border-bottom: 2px solid white;    
}
@media screen and (max-width:700px){
    .navbar .container-fluid{
       flex-direction: column;
    }
    
}
@media screen and (max-width:525px){
    .container-fluid div a{
        float: none;
        width: 100%;
    }
    
}
@media screen and (max-width:1061px)
{.nav .btn
  {
    font-size:2rem ;
  }}

@media screen and (max-width:1592px){
  a.btn{
font-size:24px ;
  }
}
@media screen and (max-width:992px)
{
 .navbar
{
 
}
}
@media screen and (max-width:769px)
{
  header img {
    display: none;
  }
  .navbar>.container-fluid
  {
    flex-direction: column;
  }
  .navbar
  {
    height: 20vh;
    padding-top: 6rem;
  }
}
@media screen and (max-width:525px)
{
  .navbar
  {
    height: 80vh;
    padding-top: 20rem;
  }
  .box
  {
    padding-top: 25rem;
  }
}