*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
html
{
    box-sizing: border-box;
    font-size: 10px
}
body
{
    font-family: 'Poppins', sans-serif;
  
    
}
a
{
    text-decoration: none;
    color: #FFFFFF;
}
.nav-menu a:hover
{
    color:#FFB742 ;
}

.wrapper {
    margin: 0 auto;
    max-width: 144rem;
    /* min-width: 100rem; */
    background-color: #212529;
}
.header{
    display: flex;
    align-items: center;
}

.header-logo {
    padding-left: 5rem;
}
.nav{
    width: 100%;
}
.nav-menu 
{
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    
    
   
}
.btn{
   
 color: #212529;
 background-color: #FFB742;
 font-weight: 700;
   font-size: 1.8rem;
   line-height: 167%;
   padding: 1.2rem 2.6rem;
   margin-right: 4.8rem;
   border-radius: 50px;
}
.nav-menu a
{
    
}
.Home {
}
.About {
}
.Skills {
}
.Portfolio {
}
.Contact {
   margin-right: 30%;
}
.header-btn
{
   
}
.title__body {
    text-align: center;
    padding-top: 10.8rem;
}
.title__whoiam {
    font-family: 'Inter', sans-serif;
font-weight: 700;
font-size: 3.2rem;
line-height: 5.1rem ;
color: #FFFFFF;
}
.whoiam__orange
{
    color: #FFB742;
    border-bottom: 3px solid #FFB742;
}
.title_profession {
    font-family: 'Inter', sans-serif;
font-weight: 700;
font-size: 4.8rem;
line-height: 189%;

color: #FFFFFF;
}
.title-subtitle {
     font-family: 'Inter', sans-serif;
     font-weight: 400;
     font-size: 2.4rem;
     line-height: 211%;
     color: #FFFFFF;
}

/* cards */
.cards {
    display: flex;
    justify-content: space-around;
    padding-top: 13.6rem;
    flex-wrap: wrap;
}
.card {
 background-color: #292B2E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 30%;
    gap: 5rem;
    padding: 2.5rem 0 ;
    border-radius: 10px;
}
.card:hover .card-title
{
    color: black
}
.card:hover .card-subtitle
{
    color: black;
}
.card:hover
{
    background-color: #FFB742;
}
.card-title { 
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    color: #FFB742;
}
.card-subtitle {
   color: #FFFFFF;
   font-style: 1.6rem;
}
/* about me */
.about-me__container
{
    display: flex;
    padding-top: 22.1rem;
}

.about-me__picture {
    padding-top: 2rem;
    min-width: 50%;
}
.about-me__picture img
{
    width: 100%;
}
.about-me__title__container {
    padding-left: 7.4rem;
    margin-right: 1rem;
}
.about-me__link {
    
}
._orng
{
    font-weight: 600;
    line-height: 150%;
    padding: 6px 25px;
    text-transform: uppercase;
    color: #FFB742;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
}
.about-me__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 62%;
    color: #FFFFFF;
    padding-top: 1.6rem;
}
.about-me__sub-title {
    color: #D5D5D5;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 188%;
    padding-top: 2.9rem;
}
.about-me__link2
{
    display: inline-block;
    color: #212529;
    background-color: #FFB742;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1.2rem 3.9rem;
    border-radius: 5rem;
    margin-top: 5.4rem;
}

/* my skills */
.my-skills__container {
    display: flex;
    flex: 0 0 40%;
    padding-left: 5rem;
    padding-top: 6rem;
}
.my-skills__left-side {
    padding-right: 6%
}
.my-skills__link {
}
.my-skills__title 
{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 56px;
    padding-top: 0.5rem;

color: #FFFFFF;
}
.my-skills__sub-title {
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 188%;
color: #FFFFFF;
padding-top: 4rem;
}
.about-me__link2 {
}
.my-skills__items {
    display: flex;
    gap: 1.6rem ;
    flex-direction: column;
    padding-right: 5.1rem;
   
}
.my-skills__item {
    border-radius: 1rem;
    background-color: #383E45;
    display: flex;
 justify-content: center;
    min-width: 8rem;
    min-height: 8rem;
   
}
.my-skills__item:hover
{
    background-color:rgba(255, 183, 66, 0.5);
    transition: all 0.3s ease;
}
.first-group
{
    display: flex;
   gap: 1.6rem;
     
}
.second-group
{
    display: flex;
    gap: 1.6rem;
    
}

/* my-works */
.my-works__container {
    padding-top: 13.6rem;
}
.center-link
{
    text-align: center;
}
.my-works__link {

}
._orng {
}
.my-works__title {
    text-align: center;
    font-family: "Roboto",sans-serif;
font-size: 4.8rem;
font-weight: 700;
line-height: 5.6rem;
color: #FFFFFF;
padding-top: 0.5rem;
}
.my-works__menu {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 3.5rem;
}
.my-works__menu-nav {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 188%;
    color: #FFFFFF;
    padding: 0 0.7rem;
}
._1rem
{
    padding: 1rem;
}
.my-works__menu-nav:hover a
{
    color: #212529;
    background-color: #FFB742;
}
.my-works-portfolio__container {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    margin-left: 2%;
    margin-right: 2%;
    
}
.my-works-portfolio__container img
{
width: 100%;
}

.portfolio__column {
    display: flex;
    flex-direction: column;
    gap: 3.1rem ;
}
/* testimonials */
.testimonials__container {
    padding-top: 13.5rem;
    margin-right: 2%;
    margin-left: 2%;
}
.testimonials-link {
}
.testimonials__title {
    text-align: center;
    font-family: "Roboto",sans-serif;;
    font-size: 3.9rem;
    font-weight: 700;
    line-height: 4.6rem;
    color: #FFFFFF;
    padding-top: 0.5rem;
}
.testimonials-cards__container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    padding-top: 9rem;
   
}
.testimonials-card__inner {
    height: 45.5rem;
    width: 38rem;
    padding-left: 3.3rem;
    border-radius: 0.8rem;
    background-color: #FFFFFF;
}
.inner-flex
{
    display: flex;
    padding-top: 3.7rem;
}
.inner-flex2
{
    padding-left: 2.4rem;
}
.inner-icons {
    padding-top: 5.1rem;
}
.inner-text {
font-size: 2rem;
font-weight: 400;
line-height: 170%;
padding-top: 2.2rem;
max-width: 30rem;
}
.inner-name
{
font-size: 2rem;
font-weight: 700;
line-height: 3.4rem;
}
.inner-profession
{
font-size: 1.6rem;
font-weight: 400;
line-height: 3.4rem;
}
/* footer */
.footer__container
{
    background-color: #1C1C1C;
    margin-top: 25.3rem;
    padding-bottom: 8.9rem;
}
.footer__columns
{
    padding-top: 14.8rem;
    display: flex;
    justify-content: space-around;
}
._flex
{
    display: flex;
    flex-direction: column;
}
.my-name
{
    color: #FFB742;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.2rem;
}
.footer__container a
{
   color: #7B7B7B;
font-size: 1.8rem;
font-weight: 500;
line-height: 3.6rem;
}
.footer__container h4,a
{
     font-family: 'Work Sans',sans-serif;
}
.footer__container h4
{
   color: #F5FBF2;
font-size: 1.6rem;
font-weight: 600;
line-height: 3.2rem;
}
.my-profession
{
    font-family: 'Work Sans',sans-serif;
font-size: 1.6rem;
font-weight: 600;
line-height: 3.2rem;
color: #D4D4D4;
}
.enter-text
{
  color: #7B7B7B;
font-size: 1.8rem;
font-weight: 500;
line-height: 3.6rem;
}
