body {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
}
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
.page {
  max-width: 755px;
  margin: 10% auto;
}
.bg {
  padding: 27px 38px 26px 38px;
  background-color: #ffb084;
  border-radius: 20px;
  max-height: 459px;
}
.grid-container {
  display: grid;

  font-size: 20px;
  text-align: center;
  column-gap: 15px;
  grid-template-columns: 37.8% 1fr;
}
.main-info {
  /* Width:250px;
    Height:319px; */
  padding: 15px 25px;
  background: #ffffff;
  box-shadow: 7px 7px 0px #000000;
  border-radius: 20px;
  grid-row: 1 / 3;
}
.text-block {
  /* width: 250px;
height: 62px; */
  background: #ffffff;
  box-shadow: 7px 7px 0px #000000;
  border-radius: 20px;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 22px;
}
.grid-container__2 {
  display: grid;
  grid-template: 29.5% 27.3% 15% 24.2% / 1fr 1fr;
  align-items: end;
  align-content: space-between;
}
.bio {
  /* width: 400px;
height: 117px; */
  padding: 15px 25px;
  background: #ffffff;
  box-shadow: 7px 7px 0px #000000;
  border-radius: 20px;
  grid-column: span 2;
}
.goals {
  /* width: 189px;
  height: 101px; */
  background: #ffffff;
  box-shadow: 7px 7px 0px#29A71E;
  border-radius: 20px;
  padding: 15px 25px;
}
.frustractions {
  /* width: 189px;
  height: 165px; */
  background: #ffffff;
  box-shadow: 7px 7px 0px #E13535;
  border-radius: 20px;
  grid-row: span 2;
  padding: 15px 25px;
  margin-left: 22px;
}
.dream {
  /* width: 189px;
  height: 151px; */
  background: #ffffff;
  box-shadow: 7px 7px 0px #3675B0;
  border-radius: 20px;
  grid-row-start: 3;
  grid-row-end: 5;
  padding: 15px 25px;
}
.personality {
  /* width: 189px;
  height: 89px; */
  background: #ffffff;
  box-shadow: 7px 7px 0px #000000;
  border-radius: 20px;
  margin-left: 22px;
  padding: 15px 25px;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 17px;
}
._ml {
  margin-left: 17px;
}
.column-container {
  display: flex;
  padding-top: 17px;
}
.bold {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.thin {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.row-container {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}
.text {
  padding: 15px 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
}
.bio-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  padding-bottom: 8px;
  
}
.bio-subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  padding-bottom: 3px;
}
.goals-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #29a71e;
  text-align: left;
  padding-bottom: 8px;
}
.list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.list-text:nth-child(3)
{
    padding-right: 8px;
}
.list-text::before {
  content: "•";
  margin-right: 8px;
  
  
}
.list-text:nth-child(3):before
{
    
}
.list-text:nth-child(2):before
{
    padding-left: 3px;
}
.frustractions-text
{
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #E13535;
padding-bottom: 8px;
text-align: left;
}
.frustractions-list-text
{
    font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-left: 8px;
}
.frustractions-list-text::before
{
    content: "•";
    margin-right: 5px;
}
.frustractions-ul
{
 text-align: left;
 
}
.right
{
    text-align: right;
}
.dream-text
{
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #3675B0;
padding-bottom: 8px;
text-align: left;
}
.dream-list-text
{
 font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
margin-bottom:4px;
padding-left: 20px;
}
.dream-list-text::before
{
    content: "•";
    padding-right:10px;
}
.dream-ul
{
    text-align: left;
}
.personality-text
{
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: left;
padding-bottom: 8px;
}
.personality-hash
{
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: left;
}