 body {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	margin: 0 auto;
	max-width: 1000px;
}
.header {
  padding: 30px 0px;
  text-align: center;
}
.header__title {
  text-transform: uppercase;

  font-size: 48px;
  letter-spacing: 5px;
  font-family: "M PLUS 1", sans-serif;
  color: blue;
}
.header-yellow {
  color: yellow;
}
.page {
}
.page__main {
  margin-bottom: 50px;
}
.main {
  background: url("../img/main.png") 50% no-repeat;
  min-height: 766px;
  padding-left: 55px;
}
.main__content {
  padding-top: 250px;
}
._container {
}
.main__title {
  background: url("../img/img прапор.png") 0 50% no-repeat;
  min-height: 200px;
  font-weight: 700;
  font-size: 40px;
  line-height: 157.3%;
  color: #ffffff;
  padding-left: 55px;
}
.main__image {
}
 .page__places {
}
.places {
 
}
.places__title {
  font-weight: 700;
  font-size: 40px;
  padding-left: 80px;
  margin:0px
}
.places__image {
 margin-bottom: 42px;
}
.places__items {
}
.places__item {
}
.item-place-1
{
  display: inline-block;
  border: 5px solid #0d095f;
  overflow: hidden;
  border-radius: 30px;
  width: 290px;
  filter: drop-shadow(-16px 21px 15px rgba(0, 209, 255, 0.35));
  height: 390px;
  margin-right: 25px;
  background-color: #ffffff;
}
.item-place-2{
  display: inline-block;
  border: 5px solid #0d095f;
  overflow: hidden;
  border-radius: 30px;
  width: 290px;
  filter: drop-shadow(0px 21px 35px rgba(0, 209, 255, 0.35));
  height: 390px;
  margin-right: 25px;
  background-color: #ffffff;
}
.item-place-3
{
  display: inline-block;
  border: 5px solid #0d095f;
  overflow: hidden;
  border-radius: 30px;
  width: 290px;
  filter: drop-shadow(16px 21px 40px rgba(0, 209, 255, 0.35));
  height: 390px;
  margin-right: 25px;
  background-color: #ffffff;
}
.item-place__image {
  display: block;
  width: 290px;
  margin-bottom: 16px;
}
.item-place__content {
  padding: 0px 0px 25px 10px;
}
.item-place__title {
  font-weight: 700;
  font-size: 24px;
  color: #0072db;
  margin-bottom: 13px;
  margin-top: 0px;
}
.item-place__sub-title {
  font-size: 20px;
  line-height: 157.3%;
  color: #ff9900;
  font-weight: 400;
}
/*map section*/
.map-title
{
  
  border-bottom: 7px  solid #1400FF;
  width: 600px;
  margin-left: 200px;
  text-align: center;
  font-size: 40px;
}
.map-container
{

}
.map-container-link
{
  text-align: center;
  border-radius: 50px;
  width: 500px;
  height: 80px;
  font-size: 64px;
  background: #2A61F0;
  margin-left: 250px;
  margin-top: 20px;
}
.map-container-link > a
{
  color: #ffffff;
  text-decoration: none;
}
.footer-container
{
  background:linear-gradient(180deg, #013235 0%, #0D0661 100%);
  text-align: center;
  height: 233px;
}
.footer-title
{
  margin: 30px 0px 0px 0px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 5px;
  font-family: "M PLUS 1", sans-serif;
  color: blue;
}
.footer-green
{
  font-family: 'Marcellus SC', serif;
  color: #DFE31E;
  font-weight: 400;
}
.footer-links
{
  margin-bottom: 10px;
}
.footer-link > a
{
  color: #A89D9D;
  font-family: 'Marcellus SC', serif;
  font-weight: 400;
  font-size: 36px;
  text-decoration: none;
}
.insta
{
  margin-right: 20px;
}
.facebook
{
  margin-right: 20px;
}
.footer-tittle-link
{
  text-decoration: none;
}